@media (min-width: 0px) {
    .page-bar .page-bar-buttons {
        display: block;
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .page-bar .page-bar-button {
        margin-top: 0px !important;
    }
    .page-sidebar-wrapper {
        margin-top: 110px;
    }
    .page-section {
        margin-top: 0px;
    }
    .page-title {
        color: #fff;
        font-size: 14px !important;
        margin: 10px 0px 5px !important;
    }
    ul.page-sidebar-menu {
        margin-top: 10px !important;
    }

}
@media (min-width: 481px) {
    .hidden-gt-480 {
        display: none;
    }

    .expediente-view-option {
        padding: 2px 10px;
        height: 40px;
        margin: 0px 0px 0px 15px;
    }

    .expediente-view-option.selected {
        border: 1px solid #f1f1f1;
        background-color: #fff;
        border-radius: 6px !important;
    }

    .expediente-view-option .option {
        cursor: pointer;
        padding: 4px 0px;
        height: 30px;
        float: left;
        color: #999;
        font-size: 18px;
    }

    .expediente-view-option.selected .option {
        cursor: default;
        color: #64DD17;
        font-weight: bold;
    }

    .expediente-view-option .text {
        margin-left: 10px;
        font-size: 11px;
        font-weight: 600;
        padding: 8px 0px;
        float: left;
        color: #999;
    }

    .expediente-view-option.selected .text {
        padding: 4px 0px !important;
        border-bottom: 1px dashed #64DD17;
        margin-top: 3px;
    }
}
@media (max-width: 480px) {
    .hidden-lte-480 {
        display: none;
    }
    .label-value {
        padding: 0px;
    }
    .label-link-grid.label-value {
        height: 32px;
    }
    .label-link-grid.label-value .link-text .link-text-name {
        display: block;
        font-weight: 600;
    }
    .expediente-view-option {
        padding: 2px 2px;
        height: 30px;
        margin: 0px;
    }

    .expediente-view-option.selected {
        border: 1px solid #f1f1f1;
        background-color: #fff;
        border-radius: 6px !important;
    }

    .expediente-view-option .option {
        cursor: pointer;
        padding: 2px 0px;
        height: 25px;
        float: left;
        color: #999;
        font-size: 14px;
    }

    .expediente-view-option.selected .option {
        cursor: default;
        color: #64DD17;
        font-weight: bold;
    }

    .expediente-view-option .text {
        margin-left: 5px;
        font-size: 11px;
        font-weight: 600;
        padding: 3px 2px;
        float: left;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 70%;
    }

    .expediente-view-option.selected .text {
        padding: 0px;
        border-bottom: 1px dashed #64DD17;
        margin-top: 3px;
    }
}
@media (max-width: 575px) {
    .page-sidebar, .page-sidebar.in {
        margin: 0px !important;
        border: solid 5px #f1f1f1;
    }
    .page-header.navbar .top-menu {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .page-header.navbar .top-menu .navbar-nav {
        margin-top: 8px !important;
    }

    .page-title-row {
        top: 50px;
        padding: 3px 0px !important;
    }

    .page-breadcrumb li a, .page-breadcrumb li i {
        font-size: 12px !important;
    }

    #header_notification_fav {
        margin-right: -115px;
    }

    #header_notification_fav::before {
        margin-right: 123px;
    }

    #header_notification_Mensajes {
        margin-right: -100px;
    }

    #header_notification_Mensajes::before {
        margin-right: 73px;
    }

    #header_notification_Tareas {
        margin-right: -60px;
    }

    #header_notification_Tareas::before {
        margin-right: -68px;
    }

    .page-header.navbar .top-menu {
        position: absolute;
        right: 0px;
        margin-right: 75px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown dropdown-extended dropdown-notification i {
        font-size: 14px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown {
        margin: 0;
        padding: 0;
        height: 35px;
        display: inline-block;
        width: 35px !important;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
        background-color: #fff !important;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img:hover {
        margin-top: 25px;
        transform: scale(4);
        transition: all 0.5s;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
        border-radius: 20%;
        margin: 5px 0px;
        padding: 5px 0px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
        font-size: 14px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > .badge {
        font-size: 10px !important;
        padding: 3px 5px;
        height: 16px;
        top: -1px;
        right: 3px;
    }

    .btn-default-ek {
        padding: 1px 0px 0px 1px !important;
        height: 30px;
        width: 30px;
        border: none;
        box-shadow: none !important;
        border: none;
        border-radius: 50px !important;
        text-align: center;
        background-color: #f1f1f1 !important;
        margin: 0 2px;
    }
}
