@font-face {
  font-family: 'enkontrol-fonticon';
  src:  url('fonts/enkontrol-fonticon.eot?7gs6ir');
  src:  url('fonts/enkontrol-fonticon.eot?7gs6ir#iefix') format('embedded-opentype'),
    url('fonts/enkontrol-fonticon.ttf?7gs6ir') format('truetype'),
    url('fonts/enkontrol-fonticon.woff?7gs6ir') format('woff'),
    url('fonts/enkontrol-fonticon.svg?7gs6ir#enkontrol-fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-ek-"], [class*=" icon-ek-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'enkontrol-fonticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ek-001:before {
  content: "\e900";
}
.icon-ek-002:before {
  content: "\e901";
}
.icon-ek-003:before {
  content: "\e902";
}
.icon-ek-004:before {
  content: "\e903";
}
.icon-ek-005:before {
  content: "\e904";
}
.icon-ek-006:before {
  content: "\e905";
}
.icon-ek-007:before {
  content: "\e906";
}
.icon-ek-008:before {
  content: "\e907";
}
.icon-ek-009:before {
  content: "\e908";
}
.icon-ek-010:before {
  content: "\e909";
}
.icon-ek-011:before {
  content: "\e90a";
}
.icon-ek-012:before {
  content: "\e90b";
}
.icon-ek-013:before {
  content: "\e90c";
}
.icon-ek-014:before {
  content: "\e90d";
}
.icon-ek-015:before {
  content: "\e90e";
}
.icon-ek-016:before {
  content: "\e90f";
}
.icon-ek-017:before {
  content: "\e910";
}
.icon-ek-018:before {
  content: "\e911";
}
.icon-ek-019:before {
  content: "\e912";
}
.icon-ek-020:before {
  content: "\e913";
}
.icon-ek-021:before {
  content: "\e914";
}
.icon-ek-022:before {
  content: "\e915";
}
.icon-ek-023:before {
  content: "\e916";
}
.icon-ek-024:before {
  content: "\e917";
}
.icon-ek-025:before {
  content: "\e918";
}
.icon-ek-026:before {
  content: "\e919";
}
.icon-ek-027:before {
  content: "\e91a";
}
.icon-ek-028:before {
  content: "\e91b";
}
.icon-ek-029:before {
  content: "\e91c";
}
.icon-ek-030:before {
  content: "\e91d";
}
.icon-ek-031:before {
  content: "\e91e";
}
.icon-ek-032:before {
  content: "\e91f";
}
.icon-ek-033:before {
  content: "\e920";
}
.icon-ek-034:before {
  content: "\e921";
}
.icon-ek-035:before {
  content: "\e922";
}
.icon-ek-036:before {
  content: "\e923";
}
.icon-ek-037:before {
  content: "\e924";
}
.icon-ek-038:before {
  content: "\e925";
}
.icon-ek-039:before {
  content: "\e926";
}
.icon-ek-040:before {
  content: "\e927";
}
.icon-ek-041:before {
  content: "\e928";
}
.icon-ek-042:before {
  content: "\e929";
}
.icon-ek-043:before {
  content: "\e92a";
}
.icon-ek-044:before {
  content: "\e92b";
}
.icon-ek-045:before {
  content: "\e92c";
}
.icon-ek-046:before {
  content: "\e92d";
}
.icon-ek-047:before {
  content: "\e92e";
}
.icon-ek-048:before {
  content: "\e92f";
}
.icon-ek-049:before {
  content: "\e930";
}
.icon-ek-050:before {
  content: "\e931";
}
.icon-ek-051:before {
  content: "\e932";
}
.icon-ek-052:before {
  content: "\e933";
}
.icon-ek-053:before {
  content: "\e934";
}
.icon-ek-054:before {
  content: "\e935";
}
.icon-ek-055:before {
  content: "\e936";
}
.icon-ek-056:before {
  content: "\e937";
}
.icon-ek-057:before {
  content: "\e938";
}
.icon-ek-058:before {
  content: "\e939";
}
.icon-ek-059:before {
  content: "\e93a";
}
.icon-ek-060:before {
  content: "\e93b";
}
.icon-ek-061:before {
  content: "\e93c";
}
.icon-ek-062:before {
  content: "\e93d";
}
.icon-ek-063:before {
  content: "\e93e";
}
.icon-ek-064:before {
  content: "\e93f";
}
.icon-ek-065:before {
  content: "\e940";
}
.icon-ek-066:before {
  content: "\e941";
}
.icon-ek-067:before {
  content: "\e942";
}
.icon-ek-068:before {
  content: "\e943";
}
.icon-ek-069:before {
  content: "\e944";
}
.icon-ek-070:before {
  content: "\e945";
}
.icon-ek-071:before {
  content: "\e946";
}
.icon-ek-072:before {
  content: "\e947";
}
.icon-ek-073:before {
  content: "\e948";
}
.icon-ek-074:before {
  content: "\e949";
}
.icon-ek-075:before {
  content: "\e94a";
}
.icon-ek-076:before {
  content: "\e94b";
}
.icon-ek-077:before {
  content: "\e94c";
}
.icon-ek-078:before {
  content: "\e94d";
}
.icon-ek-079:before {
  content: "\e94e";
}
.icon-ek-080:before {
  content: "\e94f";
}
.icon-ek-081:before {
  content: "\e950";
}
.icon-ek-082:before {
  content: "\e951";
}
.icon-ek-083:before {
  content: "\e952";
}
.icon-ek-084:before {
  content: "\e953";
}
.icon-ek-085:before {
  content: "\e954";
}
.icon-ek-086:before {
  content: "\e955";
}
.icon-ek-087:before {
  content: "\e956";
}
.icon-ek-088:before {
  content: "\e957";
}
.icon-ek-089:before {
  content: "\e958";
}
.icon-ek-090:before {
  content: "\e959";
}
.icon-ek-091:before {
  content: "\e95a";
}
.icon-ek-092:before {
  content: "\e95b";
}
.icon-ek-093:before {
  content: "\e95c";
}
.icon-ek-094:before {
  content: "\e95d";
}
.icon-ek-095:before {
  content: "\e95e";
}
.icon-ek-096:before {
  content: "\e95f";
}
.icon-ek-097:before {
  content: "\e960";
}
.icon-ek-098:before {
  content: "\e961";
}
.icon-ek-099:before {
  content: "\e962";
}
.icon-ek-100:before {
  content: "\e963";
}
.icon-ek-101:before {
  content: "\e964";
}
.icon-ek-102:before {
  content: "\e965";
}
.icon-ek-103:before {
  content: "\e966";
}
.icon-ek-104:before {
  content: "\e967";
}
.icon-ek-105:before {
  content: "\e968";
}
.icon-ek-106:before {
  content: "\e969";
}
.icon-ek-107:before {
  content: "\e96a";
}
.icon-ek-108:before {
  content: "\e96b";
}
.icon-ek-109:before {
  content: "\e96c";
}
.icon-ek-110:before {
  content: "\e96d";
}
.icon-ek-111:before {
  content: "\e96e";
}
.icon-ek-112:before {
  content: "\e96f";
}
.icon-ek-113:before {
  content: "\e970";
}
.icon-ek-114:before {
  content: "\e971";
}
.icon-ek-115:before {
  content: "\e972";
}
.icon-ek-116:before {
  content: "\e973";
}
.icon-ek-117:before {
  content: "\e974";
}
.icon-ek-118:before {
  content: "\e975";
}
.icon-ek-119:before {
  content: "\e976";
}
.icon-ek-120:before {
  content: "\e977";
}
.icon-ek-121:before {
  content: "\e978";
}
.icon-ek-122:before {
  content: "\e979";
}
.icon-ek-123:before {
  content: "\e97a";
}
.icon-ek-124:before {
  content: "\e97b";
}
.icon-ek-125:before {
  content: "\e97c";
}
.icon-ek-126:before {
  content: "\e97d";
}
.icon-ek-127:before {
  content: "\e97e";
}
.icon-ek-128:before {
  content: "\e97f";
}
.icon-ek-129:before {
  content: "\e980";
}
.icon-ek-130:before {
  content: "\e981";
}
.icon-ek-131 .path1:before {
  content: "\e982";
  color: rgb(76, 217, 100);
}
.icon-ek-131 .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-132 .path1:before {
  content: "\e984";
  color: rgb(200, 47, 47);
}
.icon-ek-132 .path2:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-133 .path1:before {
  content: "\e986";
  color: rgb(76, 217, 100);
}
.icon-ek-133 .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-133 .path3:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-134 .path1:before {
  content: "\e989";
  color: rgb(200, 47, 47);
}
.icon-ek-134 .path2:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-134 .path3:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-135:before {
  content: "\e98c";
}
.icon-ek-136:before {
  content: "\e98d";
}
.icon-ek-137:before {
  content: "\e98e";
}
.icon-ek-138:before {
  content: "\e98f";
}
.icon-ek-139:before {
  content: "\e990";
}
.icon-ek-140:before {
  content: "\e991";
}
.icon-ek-141:before {
  content: "\e992";
}
.icon-ek-142 .path1:before {
  content: "\e993";
  color: rgb(76, 217, 100);
}
.icon-ek-142 .path2:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path1:before {
  content: "\e995";
  color: rgb(76, 217, 100);
}
.icon-ek-143 .path2:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path3:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path4:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path5:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path6:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path7:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path8:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path9:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path10:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-143 .path11:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-144 .path1:before {
  content: "\e9a0";
  color: rgb(76, 217, 100);
}
.icon-ek-144 .path2:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-144 .path3:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-144 .path4:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-145 .path1:before {
  content: "\e9a4";
  color: rgb(76, 217, 100);
}
.icon-ek-145 .path2:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-145 .path3:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-145 .path4:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-145 .path5:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-146 .path1:before {
  content: "\e9a9";
  color: rgb(76, 217, 100);
}
.icon-ek-146 .path2:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-146 .path3:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-146 .path4:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-146 .path5:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-146 .path6:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-147 .path1:before {
  content: "\e9af";
  color: rgb(76, 217, 100);
}
.icon-ek-147 .path2:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ek-148:before {
  content: "\e9b1";
}
.icon-ek-149:before {
  content: "\e9b2";
}

