<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net461" />
  <package id="Sap.Data.SQLAnywhere" version="17.0.7.3399" targetFramework="net461" />
</packages>