<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />
    <add name="mssql:cs" connectionString="Server=;Initial Catalog=;Persist Security Info=False;User ID=;Password=;" providerName="System.Data.SqlClient"  xdt:Transform="Insert" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="RemoveAll"  xdt:Locator="Condition(starts-with(@key, 'drivers:'))"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1" xdt:Transform="Replace"/>
  </system.web>
</configuration>