<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>

    <!--=======================  LOCAL  ============================ -->
    <!--<add name="sybase17:cs"
      connectionString="Host=localhost:2638;Server=srv_kalin;DBN=ek_adm71_local;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->

    <!--<add name="sybase17:cs"
      connectionString="Host=localhost:2638;Server=Local_Freddy_70;DBN=ek_adm11;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->
    
    <!-- =======================  DEMOS 10s ========================== -->

    <!--<add name="sybase17:cs"
      connectionString="Host=10.1.70.39:6805;Server=Ek_test3_10s;DBN=ek_adm11;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->

    <!-- =======================  DEMOS 10s === NUEVO SERVIDOR ==== ========================== -->
    
    <!--<add name="sybase17:cs"
      connectionString="Host=10.1.70.38:6805;Server=Ek_test1_10s;DBN=ek_adm11;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->
    
    <!-- =======================  DEMOS 30s ========================== -->

    <!--<add name="sybase17:cs"
      connectionString="Host=10.150.1.38:6820;Server=ek_ambiente_30s;DBN=ek_adm31;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->


    

    
    <!-- =======================  DEMOS 70s === NUEVO SERVIDOR - SERVIDOR 2 Construccion ===  ========================== -->
 
    <!--<add name="sybase17:cs"
      connectionString="Host=10.1.70.37:6810;Server=Ek_test2_70s;DBN=ek_adm71;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->


    <!-- ================================  CONEXION SQL SERVER  ===================================-->
      <add name="mssql:cs"
        connectionString="Server=ENKL-FVILLEGAS\SQLSERVERDEV;Initial Catalog=EK_ADM51;Persist Security Info=False;User ID=sa;Password=Al16120246;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;"
        providerName="System.Data.SqlClient"/>

    
    <!-- =======================  DEMOS INTRAURBANA ===== NUEVO SERVIDOR   ========================== -->
    <!--<add name="sybase17:cs"
      connectionString="Host=10.1.70.38:6815;Server=EK_TEST1_INTRAURBANA;DBN=ek_adm96;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->

    <!-- =======================  Produccion INTRAURBANA ===== NUEVO SERVIDOR 1  ========================== -->
    <!--<add name="sybase17:cs"
      connectionString="Host=10.150.1.1:2645;Server=ek_lodela;DBN=ek_adm96;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->
    
    <!-- =======================  DEMOS INTRAURBANA SUR ===== NUEVO SERVIDOR   ========================== -->
    <!--<add name="sybase17:cs"
      connectionString="Host=10.1.70.38:6816;Server=Ek_test1_IntraSur;DBN=ek_adm02;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->
    
    <!-- =====================  PRODUCCION  ======================== -->

 <!--<add name="sybase17:cs"
   connectionString="host=10.150.1.1:2639;server=ek_ruba_01;dbn=ek_adm51;uid=scydc;pwd=scenko;dmrf=yes;pooling=true;max pool size=100;min pool size=5;connectionname=ek10-sc"
   providerName="sap.data.sqlanywhere"/>-->

    <!--<add name="sybase17:cs"
      connectionString="Host=10.150.1.1:2639;Server=ek_ruba_01;DBN=ek_adm51;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
      providerName="Sap.Data.SQLAnywhere"/>-->

    <!--connectionString="Host=10.150.1.1:2639;Server=ek_ruba_01;DBN=ek_adm51;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"
    providerName="Sap.Data.SQLAnywhere"/>-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- <add key="drivers:notifications:email:servidor" value="smtp.sendgrid.net"/>
    <add key="drivers:notifications:email:username" value="apikey"/>
    <add key="drivers:notifications:email:password" value="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"/>
    <add key="drivers:notifications:email:port" value="587"/>
    <add key="drivers:notifications:email:priority" value="0"/>
    <add key="drivers:notifications:email:displayName" value="SCDC RUBA"/>
    <add key="drivers:notifications:email:fromEmail" value="RUBA@ruba.com.mx"/>
    <add key="drivers:notifications:email:enableSSL" value="true"/> -->
    <!--<add key="drivers:filesystem:container" value="D:\Ruba\RepositorioEK10\"/>-->
    <!--<add key="servicesPostSale" value="https://api.ruba.app/"/>-->
    <!--<add key="servicesPostSale" value="https://api.ruba.app/"/>-->
    <!--<add key="drivers:notifications:email:testNotificationEmail" value="fvillegas@enkontrol.com"/>-->
    <!--<add key="drivers:logsybase17:endpoint"
      value="Host=10.1.70.37:6810;Server=Ek_test2_70s;DBN=ek_adm71;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC"/>-->
    <add key="drivers:logmssql:endpoint"
      value="Server=ENKL-FVILLEGAS\SQLSERVERDEV;Initial Catalog=EK_ADM51;Persist Security Info=False;User ID=sa;Password=Al16120246;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;"/>
    <add key="drivers:storage:target" value="EK.Drivers.Storage.FileSystemStorage, EK.Drivers.Storage.FileSystem"/>
    <add key="drivers:filesystem:container" value="\\10.1.70.52\RepositorioEK10\"/>
    <add key="drivers:documents:key" value="WDN15BF46B8T7WADZZA"/>
    <add key="servicesPostSale" value="https://apidemos.gruporuba.com.mx/"/>
    <add key="testMode" value="true"/>
    <add key="drivers:notifications:email:testNotification" value="true"/>
    <add key="drivers:notifications:email:testNotificationEmail" value="fvillegas@enkontrol.com"/>
    <add key="drivers:notifications:email:servidor" value="srvcorp-mail16.gruporuba.net"/>
    <add key="drivers:notifications:email:username" value="mensajeria.enkontrol"/>
    <add key="drivers:notifications:email:password" value="Enkontrol1103"/>
    <add key="drivers:notifications:email:port" value="587"/>
    <add key="drivers:notifications:email:priority" value="0"/>
    <add key="drivers:notifications:email:displayName" value="SCDC RUBA"/>
    <add key="drivers:notifications:email:fromEmail" value="mensajeria.enkontrol@ruba.com.mx"/>
    <add key="drivers:notifications:email:enableSSL" value="false"/>
    <add key="drivers:EKConnect:endpoint" value="https://www.ekmps.com:446/"/>
    <add key="drivers:scdc:redirectReportUrl" value="http://localhost:55407/#/scv/pv/reportesFallas"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <authentication mode="None"/>
    <sessionState timeout="525600"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="80480" maxUrlLength="80024"/>
    <httpModules/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
        type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <remove name="Babel"/>
      <add name="Babel" verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" preCondition="integratedMode"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".tsx"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".tsx" mimeType="application/javascript"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff2"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
        <!--<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>-->
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.3.0" newVersion="1.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="React.Core" publicKeyToken="9aed67b161f7db78" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.13.0.0" newVersion="1.13.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sap.Data.SQLAnywhere.v4.5" publicKeyToken="f222fc4333e0d400" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.0.7.33994" newVersion="17.0.7.33994"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
