<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />

    <!--<add name="mssql:cs" connectionString="Server=tcp:ekdb.database.windows.net,1433;Initial Catalog=kv10training;Persist Security Info=False;User ID=dba;Password=kV10base$001;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"  xdt:Transform="Insert" />-->

    <add name="mssql:cs" connectionString="Server=tcp:ekdb.database.windows.net,1433;Initial Catalog=EKWeb-DEV;Persist Security Info=False;User ID=dba;Password=kV10base$001;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"  xdt:Transform="Insert" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="RemoveAll"  xdt:Locator="Condition(starts-with(@key, 'drivers:'))"/>
    <add key="drivers:cdn:content" value="~/Content" xdt:Transform="Insert" />
    <add key="drivers:cdn:scripts" value="~/Scripts" xdt:Transform="Insert" />
    <add key="drivers:cdn:styles" value="~/Content" xdt:Transform="Insert" />
    
    <add key="drivers:logmssql:endpoint" value="Server=tcp:ekdb.database.windows.net,1433;Initial Catalog=EKWeb-DEV;Persist Security Info=False;User ID=dba;Password=kV10base$001;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;" xdt:Transform="Insert" />
    <add key="drivers:storage:target" value="EK.Drivers.Storage.BlobStorage, EK.Drivers.Storage.Blob" xdt:Transform="Insert" />
    <add key="drivers:blobStorage:token" value="DefaultEndpointsProtocol=https;AccountName=kv10dev;AccountKey=ObiBa9j3nlW1fdZWXBcRdq5cyaEehvY2EVb8arN156m/gaBiV5oV6Tl5k2WK/Qwfs00IWMrkNrPWF+tlpYsYxg==;EndpointSuffix=core.windows.net" xdt:Transform="Insert" />
    <add key="drivers:blobStorage:container" value="enkontrol" xdt:Transform="Insert" />
    <add key="drivers:documents:key" value="WDN15BF46B8T7WADZZA" xdt:Transform="Insert" />
    <add key="drivers:maps:key" value="AIzaSyCVm1BxY9W3jlFhmKR64ZtrKL_Wxk-QAtA" xdt:Transform="Insert" />
    <add key="drivers:maps:libraries" value="geometry,places" xdt:Transform="Insert" />
    <add key="drivers:maps:url" value="https://maps.googleapis.com/maps/api/js" xdt:Transform="Insert" />
    <add key="drivers:maps:propName" value="Clave" xdt:Transform="Insert" />
    <add key="drivers:pbi:applicationId" value="d03a064a-7e22-42bf-b49d-a4632ce4b0aa" xdt:Transform="Insert"  />
    <add key="drivers:pbi:workspaceId" value="637b0ae9-35f7-46c7-a9f8-1873e274a924" xdt:Transform="Insert"  />
    <add key="drivers:pbi:username" value="powerbi@enkontrol.com" xdt:Transform="Insert"  />
    <add key="drivers:pbi:password" value="Qun14452" xdt:Transform="Insert"  />
    <add key="drivers:pbi:authorityUrl" value="https://login.windows.net/common/oauth2/authorize" xdt:Transform="Insert"  />
    <add key="drivers:pbi:resourceUrl" value="https://analysis.windows.net/powerbi/api" xdt:Transform="Insert"  />
    <add key="drivers:pbi:apiUrl" value="https://api.powerbi.com" xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:servidor" value="smtp.sendgrid.net"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:username" value="apikey"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:password" value="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"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:port" value="587"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:priority" value="0"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:displayName" value="Enkontrol"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:fromEmail" value="ek@enkontrol.com"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:enableSSL" value="true"  xdt:Transform="Insert"  />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" xdt:Transform="Replace"/>
  </system.web>
</configuration>