<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />
    <add name="mssql:cs" connectionString="Server=.\ek10;Initial Catalog=EMPORIUM;Persist Security Info=False;User ID=sa;Password=kV10base$001;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="Insert" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="RemoveAll"  xdt:Locator="Condition(starts-with(@key, 'drivers:'))"/>
    <add key="drivers:cdn:content" value="~/Content" xdt:Transform="Insert" />
    <add key="drivers:cdn:scripts" value="~/Scripts" xdt:Transform="Insert" />
    <add key="drivers:cdn:styles" value="~/Content" xdt:Transform="Insert" />

    <add key="drivers:logmssql:endpoint" value="Server=.\ek10;Initial Catalog=EMPORIUM;Persist Security Info=False;User ID=sa;Password=kV10base$001;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" xdt:Transform="Insert" />

    <add key="drivers:storage:target" value="EK.Drivers.Storage.FileSystemStorage, EK.Drivers.Storage.FileSystem" xdt:Transform="Insert"  />
    <add key="drivers:filesystem:container" value="C:\EKrepository\production\" xdt:Transform="Insert" />
    
    <add key="drivers:documents:key" value="WDN15BF46B8T7WADZZA" xdt:Transform="Insert" />

    <add key="drivers:notifications:email:servidor" value="smtp.sendgrid.net"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:username" value="apikey"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:password" value="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"   xdt:Transform="Insert" />
    <add key="drivers:notifications:email:port" value="587"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:priority" value="0"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:displayName" value="Enkontrol"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:fromEmail" value="ek@enkontrol.com"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:enableSSL" value="true"  xdt:Transform="Insert" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" xdt:Transform="Replace"/>
  </system.web>
</configuration>