<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mssql:cs" connectionString="Server=ENKL-FVILLEGAS\SQLSERVERDEV;Initial Catalog=EK_ADM51;Persist Security Info=False;User ID=sa;Password=Al16120246;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="sybase17:cs" connectionString="Host=10.1.70.37:6810;Server=Ek_test2_70s;DBN=ek_adm71;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC" providerName="Sap.Data.SQLAnywhere"/>-->
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="RemoveAll"  xdt:Locator="Condition(starts-with(@key, 'drivers:'))"/>
    <add xdt:Transform="RemoveAll"  xdt:Locator="Condition(starts-with(@key, 'testMode'))"/>
    <add xdt:Transform="RemoveAll"  xdt:Locator="Condition(starts-with(@key, 'servicesPostSale'))"/>
    <add key="drivers:logmssql:endpoint" value="Server=ENKL-FVILLEGAS\SQLSERVERDEV;Initial Catalog=EK_ADM51;Persist Security Info=False;User ID=sa;Password=Al16120246;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" xdt:Transform="Insert" />
    <!--<add key="drivers:logsybase17:endpoint" value="Host=10.1.70.37:6810;Server=Ek_test2_70s;DBN=ek_adm71;UID=DBA;PWD=EkRuba$1013;DMRF=YES;Pooling=true;Max Pool Size=100;Min Pool Size=5;ConnectionName=EK10-SC" xdt:Transform="Insert" />-->
    <add key="drivers:storage:target" value="EK.Drivers.Storage.FileSystemStorage, EK.Drivers.Storage.FileSystem" xdt:Transform="Insert" />
    <!--<add key="drivers:filesystem:container" value="D:\Ruba\RepositorioEK10\" xdt:Transform="Insert"/>-->
    <add key="drivers:filesystem:container" value="\\10.1.70.52\RepositorioEK10\" xdt:Transform="Insert"/>
    <!--<add key="drivers:filesystem:container" value="\\10.1.70.52\Repositorio\" xdt:Transform="Insert"/>-->
    <add key="drivers:documents:key" value="WDN15BF46B8T7WADZZA" xdt:Transform="Insert" />
    <add key="servicesPostSale" value="https://apidemos.gruporuba.com.mx/" xdt:Transform="Insert"/>
    <!--<add key="servicesPostSale" value="https://api.ruba.app/" xdt:Transform="Insert"/>-->
    <add key="testMode" value="true" xdt:Transform="Insert"/>
    <add key="drivers:notifications:email:testNotification" value="true" xdt:Transform="Insert"/>
    <add key="drivers:notifications:email:testNotificationEmail" value="fvillegas@enkontrol.com" xdt:Transform="Insert"/>
    <!--<add key="drivers:notifications:email:servidor" value="smtp.sendgrid.net"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:username" value="apikey"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:password" value="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"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:port" value="587"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:priority" value="0"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:displayName" value="SCDC RUBA"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:fromEmail" value="RUBA@ruba.com.mx"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:enableSSL" value="true"  xdt:Transform="Insert"  />-->
    <add key="drivers:notifications:email:servidor" value="srvcorp-mail16.gruporuba.net"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:username" value="mensajeria.enkontrol"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:password" value="Enkontrol1103"  xdt:Transform="Insert" />
    <add key="drivers:notifications:email:port" value="587"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:priority" value="0"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:displayName" value="SCDC RUBA"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:fromEmail" value="mensajeria.enkontrol@ruba.com.mx"  xdt:Transform="Insert"  />
    <add key="drivers:notifications:email:enableSSL" value="false"  xdt:Transform="Insert"  />
    <add key="drivers:EKConnect:endpoint" value="https://www.ekmps.com:446/" xdt:Transform="Insert"/>
    <add key="drivers:scdc:redirectReportUrl" value="http://localhost:55407/#/scv/pv/reportesFallas" xdt:Transform="Insert"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" xdt:Transform="Replace"/>
  </system.web>
</configuration>